*~
.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
/example-090/bin/
/example-090/obj/
/example-090/build/
example/*.layout

libs/libfreenect*
libs/openni2/sdk/
