<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandTracking-Medium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HandTracking-Simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ImageAndDepth-Simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ImageAndDepthMutltDevice-Medium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ONIRecording-Simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UserAndCloud-Medium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UserAndCloud-Simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB36553D1C5E431D00030F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB36555D1C5E434E00030F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB817A901C5DCE1000DDB9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB817AAE1C5DCE3800DDB9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB817ACC1C5DCE4200DDB9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB817AEA1C5DCE4E00DDB9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB817B081C5DCE7A00DDB9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB817B261C5DCE7E00DDB9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B69B5A0A3A1756003C02F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
